* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f9f9f9;
}

.container {
  height: 60vh;
  width: 70vw;
  max-width: 600px;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: white;
}
.container h2 {
  text-align: center;
  margin-bottom: 20px;
}
#category {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 15px 0;
  flex-direction: row;
}

.from-box,
.to-box {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#fromValue,
#toValue,
#fromUnit,
#toUnit {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 8px;
}

#swap {
  display: inline;
  height: 40px;
  width: 40px;
  padding: 10px 14px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#swap:hover {
  background: #0056b3;
}

#resultText {
  display: none;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
}
